# IntelliJ / WebStorm
.idea/**

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
.history
.ionide

# Logs
yarn.lock
yarn-error.log
package-lock.json

# Dependencies
node_modules/**
